body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin-top: 50px;
    }

    .bulb-container {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-bottom: 20px;
    }

    .bulb {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: gray; /* OFF */
      box-shadow: 0 0 5px #555;
      cursor: pointer;
      transition: 0.3s;
    }

    .bulb.on {
      background-color: yellow; /* ON */
      box-shadow: 0 0 25px yellow;
    }
    button {
      padding: 10px 18px;
      margin: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }

    #btnOn {
      background-color: green;
      color: white;
    }

    #btnOff {
      background-color: red;
      color: white;
    }